@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<MyAspWeb.Models.Note>
@{ 

    ViewBag.Title = "笔记";
    var pageIndex = Convert.ToInt32(ViewBag.PageIndex);
    var pageCount = Convert.ToInt32(ViewBag.PageCount);
    var pageStart = pageIndex - 2 > 0 ? pageIndex - 2 : 1;
    var pageEnd = pageIndex + 2 >= pageCount ? pageCount : pageStart + 4;
}

<div class="container-fluid">
    <div class="row">
        @*<a asp-action="Add">添加Note</a>*@
        @Html.ActionLink("添加Node", "Add")
    </div>
    @if(Model!=null)
    {
        foreach (var item in Model)
        {
            <div class="row">
                <h3>@item.Title</h3>
                @if (item != null)
                {

                <h5>类型：@item.Type.Name</h5>
                }
                else
                {
                <h5>类型：NULL</h5>
                }
                <div class="=content" id="@item.Id">@item.Content</div>
            </div>
        }
    }
    else
    {
        <div>空空如也</div>
    }
</div>

<nav asp-controller="Note">
    <ul class="pagination">
        <li class="@(pageIndex==1?"disable":"")">
            <a asp-action="Index" asp-route-pageindex="@(pageIndex==1?1:pageIndex-1)">&laquo;</a>
        </li>
        @for (int i = pageStart; i < pageEnd; i++)
        {
            <li @(pageIndex==1?"class=active":"")>
                <a asp-action="Index" asp-route-pageindex="@i">@i </a>
            </li>
        }
        <li class="@(pageIndex==pageCount?"disabled":"")">
            <a asp-action="Index" asp-route-pageindex="@(pageIndex==pageCount?pageCount:pageIndex+1)">&raquo;</a>
        </li>
    </ul>
</nav>
